<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ping single column coming soon page
        link(rel="icon" href="images/favicon-32x32.png")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap")
        link(rel="stylesheet" href="css/font-awesome.min.css")
        link(rel="stylesheet" href="css/style.css")
    body
    section.page
        h3 PING
        h1 We are launching #[span soon!]
        p Subscribe and get notified
        form(action="#")
            div
                input(type="text" name="email" placeholder="Your email address...")
                span #[br] Please provide a valid email address
            div
                input(type="submit" name="submit" value="Notify Me")
        img(src="images/illustration-dashboard.png" alt="illustration-dashboard")
        div.social
            i(class="fa fa-facebook")
            i(class="fa fa-twitter")
            i(class="fa fa-instagram")
        footer
            p &copy; Copyright Ping. All rights reserved.
    script(src="main.js")
    //this project created by Mohamed Maghraby